.params-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	min-width: 0;
	max-width: 320px;
	padding: 8px 16px;
	white-space: nowrap;

	> label {
		font-size: 1.4rem;
		cursor: pointer;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	> input[type='number'] {
		width: 80px;
		height: 30px;
		padding: 4px 6px;
		font-size: 1.4rem;
		color: inherit;
		border: 1px solid var(--color-border-tertiary);
		border-radius: 4px;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			margin: 0;
			appearance: none;
		}

		&:focus {
			padding-left: 5px;
			border: 2px solid var(--color-accent-secondary);
			outline: none;
		}
	}

	> input[type='checkbox'] {
		width: 25px;
		height: 25px;
		padding: 0;
		border: 1px solid var(--color-border-tertiary);
		border-radius: 4px;
		cursor: pointer;
		appearance: none;
		accent-color: var(--color-accent-secondary);

		&:checked {
			background-color: var(--color-accent-secondary);
			border-color: var(--color-accent-secondary);
		}
	}
}
