.trades-item {
	display: grid;
	grid-template-columns: 10% 18% 18% 10% 10% 10% 10% 14%;
	height: 100px;
	padding: 8px 0;
	border-bottom: 1px solid #dcd1d1;

	&:hover {
		background-color: #f5f5f5;
	}

	> .cell {
		display: flex;
		flex-direction: column;
		justify-content: center;

		&:first-child {
			padding-left: 16px;
		}

		&:last-child {
			padding-right: 16px;
		}

		&.align-end {
			text-align: end;

			> div {
				justify-content: flex-end;
			}
		}

		&.compact {
			gap: 3px;
		}

		> div {
			display: flex;
			align-items: center;
			flex: 1;

			&.border-bottom {
				border-bottom: 1px solid #e9e6e6;
			}
		}

		> .text-sm {
			font-size: 1.2rem;
		}

		> .text-red {
			color: #d6333f;
		}

		> .text-green {
			color: #06755f;
		}
	}
}
