.trades-item {
	display: grid;
	grid-template-columns: 10% 18% 18% 10% 10% 10% 10% 14%;
	height: 100px;
	padding: 8px 0;
	border-bottom: 1px solid var(--color-border-primary);

	&:hover {
		background-color: var(--color-bg-hover-primary);
	}

	> .cell {
		display: flex;
		flex-direction: column;
		justify-content: center;

		> div {
			display: flex;
			flex: 1;
			align-items: center;

			&.border-bottom {
				border-bottom: 1px solid var(--color-border-primary);
			}
		}

		&:first-child {
			padding-left: 16px;
		}

		&:last-child {
			padding-right: 16px;
		}

		&.align-end {
			text-align: end;

			> div {
				justify-content: flex-end;
			}
		}

		&.compact {
			gap: 3px;
		}

		> .text-sm {
			font-size: 1.2rem;
		}

		> .red {
			color: var(--color-status-loss);
		}

		> .green {
			color: var(--color-status-profit);
		}
	}
}
