.hide-drawings-button {
	width: 38px;
	height: 38px;
	border-radius: 6px;

	> .icon-visible {
		display: block;
	}

	> .icon-hidden {
		display: none;
	}

	&[data-active='true'] {
		background-color: var(--color-bg-button-active);

		> .icon-visible {
			display: none;
		}

		> .icon-hidden {
			display: block;
		}
	}
}
