.hide-drawings-button {
	width: 38px;
	height: 38px;
	border-radius: 6px;

	> .icon-visible {
		display: block;
	}

	> .icon-hidden {
		display: none;
	}

	&[data-active='true'] {
		background-color: rgba(41, 98, 255, 0.1);

		> .icon-visible {
			display: none;
		}

		> .icon-hidden {
			display: block;
		}
	}
}
