.report-size-button {
	width: 34px;
	height: 34px;
	border-radius: 6px;
}

.report-size-button[data-status='expanded'] .icon-expanded {
	display: block;
}

.report-size-button[data-status='expanded'] .icon-collapsed {
	display: none;
}

.report-size-button[data-status='collapsed'] .icon-expanded {
	display: none;
}

.report-size-button[data-status='collapsed'] .icon-collapsed {
	display: block;
}
