.checkbox-input {
	display: flex;
	align-items: center;

	> input[type='checkbox'] {
		width: 25px;
		height: 25px;
		padding: 0;
		border: 1px solid var(--color-border-tertiary);
		border-radius: 4px;
		cursor: pointer;
		appearance: none;
		accent-color: var(--color-accent-secondary);

		&:hover {
			border-color: var(--color-accent-secondary);
		}

		&:checked {
			background-color: var(--color-accent-secondary);
			border-color: var(--color-accent-secondary);
		}
	}
}
