.toggle-visibility-button {
	width: 34px;
	height: 34px;
	border-radius: 6px;

	> .icon-visible {
		display: block;
	}

	> .icon-hidden {
		display: none;
	}

	&[data-active='true'] {
		> .icon-visible {
			display: none;
		}

		> .icon-hidden {
			display: block;
		}
	}
}
