.overview-metrics {
	display: none;
	flex: 0 0 70px;
	justify-content: space-between;
	align-items: center;
	padding: 0 16px;

	> .cell {
		display: flex;
		flex-direction: column;
		gap: 6px;

		> .title {
			font-weight: 600;
		}

		> .values {
			display: flex;
			gap: 6px;
			font-size: 1.6rem;

			> .red {
				color: var(--color-status-loss);
			}

			> .green {
				color: var(--color-status-profit);
			}
		}
	}
}
