.params-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	min-width: 0;
	max-width: 320px;
	padding: 8px 16px;
	white-space: nowrap;

	> .title {
		font-size: 1.4rem;
		cursor: pointer;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	> .input-container {
		display: flex;
		align-items: center;
	}
}
