.report-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 39px;
	background-color: #fff;
	border-radius: 6px 6px 0 0;
	box-shadow: #ebebeb 0 0 4px 3px;
	border-bottom: 1px solid #e0e3eb;

	> .report-tab-buttons,
	> .report-size-buttons {
		display: flex;
		gap: 2px;
	}

	> .report-tab-buttons {
		margin-left: 2px;
	}

	> .report-size-buttons {
		margin-right: 2px;
	}
}
