.chart-info-panel {
	position: absolute;
	z-index: 3;
	top: 12px;
	left: 12px;
	display: none;
	align-items: end;
	gap: 15px;
	pointer-events: none;

	> .meta {
		font-size: 1.6rem;
	}

	> .candlestick {
		display: flex;
		gap: 6px;
		font-size: 1.4rem;

		.red {
			color: var(--color-chart-down);
		}

		.green {
			color: var(--color-chart-up);
		}
	}
}
