@import url('./_reset.css');

body {
	width: 100vw;
	height: 100vh;
	font-family: system-ui, sans-serif;
	color: #292121;
	background-color: #ebebeb;
	overflow-x: hidden;

	&.resizing * {
		cursor: ns-resize;
	}
}

button {
	transition: background-color 0.2s ease;
	cursor: pointer;

	&:hover {
		background-color: #f5f5f5;
	}
}
