@import url('./_reset.css');
@import url('./_variables.css');

body {
	width: 100vw;
	height: 100vh;
	font-family: system-ui, sans-serif;
	color: var(--color-text-primary);
	background-color: var(--color-bg-secondary);
	overflow-x: hidden;

	&.resizing * {
		cursor: ns-resize;
	}
}

button {
	transition: background-color 0.2s ease;
	cursor: pointer;

	svg {
		color: var(--color-svg);
	}

	&[data-active='true'] {
		svg {
			color: var(--color-accent-primary);
		}
	}

	&:hover {
		background-color: var(--color-bg-hover-primary);
	}
}
