.report-content {
	display: flex;
	flex: 1;
	min-height: 0;
	background-color: var(--color-bg-primary);
	overflow: auto;

	> ::-webkit-scrollbar {
		width: 6px;
	}

	> ::-webkit-scrollbar-thumb {
		background-color: var(--color-border-tertiary);
		border-radius: 3px;
	}
}
