.spinner {
	position: absolute;
	z-index: 10;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-bg-primary);
	pointer-events: none;

	> svg {
		width: 120px;
		height: 120px;
		color: var(--color-status-info);
		animation: rotate 1.5s linear infinite;
		transform-origin: 50% 50%;

		> .background {
			stroke: var(--color-bg-secondary);
			stroke-dasharray: 125.6;
			stroke-dashoffset: 0;
		}

		> .path {
			stroke-dasharray: 62.8 125.6;
			stroke-dashoffset: 0;
			stroke-linecap: round;
		}
	}
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}
