.report-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	overflow: auto;
	min-height: 0;
	background-color: #fff;

	& ::-webkit-scrollbar {
		width: 6px;
	}

	& ::-webkit-scrollbar-thumb {
		background-color: #d3cdcd;
		border-radius: 3px;
	}
}
