<div class="metrics-item">
	<div class="cell">
		<span data-field="title.0"></span>
	</div>
	<div class="cell align-end">
		<span data-field="all.0"></span>
		<span data-field="all.1" class="text-sm"></span>
	</div>
	<div class="cell align-end">
		<span data-field="long.0"></span>
		<span data-field="long.1" class="text-sm"></span>
	</div>
	<div class="cell align-end">
		<span data-field="short.0"></span>
		<span data-field="short.1" class="text-sm"></span>
	</div>
	<div class="cell align-end"></div>
</div>
