.controller-content {
	display: flex;
	flex: 0 0 300px;
	background-color: #fff;
	overflow: auto;
	border-right: 1px solid #e0e3eb;

	> ::-webkit-scrollbar {
		width: 6px;
	}

	> ::-webkit-scrollbar-thumb {
		background-color: #d3cdcd;
		border-radius: 3px;
	}
}
