.controller-content {
	display: flex;
	width: 320px;
	background-color: var(--color-bg-primary);
	border-right: 1px solid var(--color-border-secondary);
	overflow: auto;

	::-webkit-scrollbar {
		width: 3px;
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--color-border-tertiary);
		border-radius: 2px;
	}
}
