.toggle-expansion-button {
	width: 34px;
	height: 34px;
	border-radius: 6px;

	> .icon-collapsed {
		display: none;
	}

	> .icon-expanded {
		display: block;
	}

	&[data-active='false'] {
		> .icon-collapsed {
			display: block;
		}

		> .icon-expanded {
			display: none;
		}
	}
}
