.toggle-sorting-button {
	display: flex;
	gap: 3px;
	flex: 1;
	color: inherit;

	&:hover {
		background-color: transparent;
	}

	> .icon-ascending {
		display: inline;
	}

	> .icon-descending {
		display: none;
	}

	&[data-active='true'] {
		> .icon-ascending {
			display: none;
		}

		> .icon-descending {
			display: inline;
		}
	}
}
