.alerts-item {
	display: flex;
	flex-direction: column;
	cursor: pointer;

	> .header {
		display: flex;
		align-items: center;
		gap: 6px;
		max-width: 320px;
		height: 60px;
		padding: 6px 16px;
		border-bottom: 1px solid var(--color-border-primary);

		> .meta-info {
			display: flex;
			flex: 1;
			flex-direction: column;
			min-width: 0;
			text-align: start;
			color: inherit;
			white-space: nowrap;

			> .strategy-name {
				font-size: 1.6rem;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			> .date-time {
				font-size: 1.4rem;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		> button {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 24px;
			height: 24px;
			border-radius: 6px;
			opacity: 0;

			&:hover {
				background-color: var(--color-bg-hover-secondary);
			}
		}

		&:hover {
			background-color: var(--color-bg-hover-primary);

			> button {
				opacity: 1;
			}
		}
	}

	> .details {
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid var(--color-border-primary);

		> .field-row {
			display: flex;
			justify-content: space-between;
			align-items: center;
			max-width: 320px;
			padding: 6px 16px;
			font-size: 1.4rem;

			> .red {
				color: var(--color-status-red);
			}

			> .green {
				color: var(--color-status-green);
			}

			> .gray {
				color: var(--color-text-secondary);
			}
		}
	}

	&[data-active='false'] > .details {
		display: none;
	}
}
