.report-visibility-button {
	width: 34px;
	height: 34px;
	border-radius: 6px;
}

.report-visibility-button[data-status='visible'] .icon-visible {
	display: block;
}

.report-visibility-button[data-status='visible'] .icon-hidden {
	display: none;
}

.report-visibility-button[data-status='hidden'] .icon-visible {
	display: none;
}

.report-visibility-button[data-status='hidden'] .icon-hidden {
	display: block;
}
