.scroll-to-realtime-button {
	position: absolute;
	z-index: 3;
	right: 100px;
	bottom: 60px;
	display: none;
	width: 24px;
	height: 24px;
	background-color: var(--color-scroll-to-realtime-button);
	border-radius: 6px;
	box-shadow: var(--shadow-scroll-to-realtime-button);

	&:hover {
		background-color: var(--color-scroll-to-realtime-button);

		svg {
			color: var(--color-accent-primary);
		}
	}
}
