.no-data {
	position: absolute;
	z-index: 5;
	inset: 0;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	text-align: center;
	background-color: var(--color-bg-primary);
	cursor: default;

	> .icon {
		width: 150px;
		height: auto;

		> svg {
			width: 100%;
			max-width: 100%;
			height: auto;
			shape-rendering: geometricprecision;
		}
	}

	> p {
		max-width: 360px;
		font-size: 1.8rem;
		font-weight: 600;
		line-height: 1.4;
		color: var(--color-text-tertiary);
	}
}
