.strategies-item {
	display: flex;
	align-items: center;
	max-width: 320px;
	height: 60px;
	padding: 6px 16px;
	border-bottom: 1px solid #edf0f7;
	transition: background-color 0.2s ease;
	gap: 6px;

	&[data-active='true'] {
		color: #2962ff;
	}

	> .content {
		display: flex;
		flex: 1;
		flex-direction: column;
		min-width: 0;
		text-align: start;
		color: inherit;
		white-space: nowrap;

		> .strategy-name {
			font-size: 1.6rem;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		> .meta-info {
			font-size: 1.4rem;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	> button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 24px;
		height: 24px;
		border-radius: 6px;
		opacity: 0;
		transition: all 0.2s ease;

		&:hover {
			background-color: #e0e0e0;
		}
	}

	&:hover {
		background-color: #f5f5f5;

		> button {
			opacity: 1;
		}
	}
}
