.toolbox {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 4px;
	min-width: 46px;
	padding: 6px 0;
	margin-right: 4px;
	background-color: var(--color-bg-primary);
}

.toolbox hr {
	width: 38px;
	height: 1px;
	margin: 4px;
	background: var(--gradient-divider);
	border: none;
}
