.toolbox {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	min-width: 46px;
	padding-top: 6px;
	margin-right: 4px;
	background-color: #fff;
	gap: 4px;
}

.toolbox hr {
	width: 38px;
	height: 1px;
	margin: 4px;
	background: linear-gradient(to right, transparent, #d1d4dc, transparent);
	border: none;
}
